<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.user.UserInfoRoleMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.user.UserInfoRole" >
    <result column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="RoleId" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByUserId" parameterType="java.lang.String">
  		DELETE FROM t_contract_user_userinfo_role WHERE UserId=#{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.user.UserInfoRole" >
    insert into t_contract_user_userinfo_role (WID, UserId, RoleId
      )
    values (#{wid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertUserRole" parameterType="java.util.List">
  		   insert into t_contract_user_userinfo_role (WID, UserId, RoleId
      )
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.wid},#{item.userid},#{item.roleid})  
    </foreach>  
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.user.UserInfoRole" >
    insert into t_contract_user_userinfo_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="roleid != null" >
        RoleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>