<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.user.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.user.UserInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="NAME1" property="name1" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="GH" property="gh" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="TEAM" property="team" jdbcType="VARCHAR" />
    <result column="DEGREE" property="degree" jdbcType="VARCHAR" />
    <result column="JOBCATEGORY" property="jobcategory" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="CONTRACTVALIDITY" property="contractvalidity" jdbcType="VARCHAR" />
    <result column="CONTRACTTIME" property="contracttime" jdbcType="VARCHAR" />
    <result column="DATASTATUS" property="datastatus" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, NAME1, PASSWORD, GH, PHONE, EMAIL, BIRTHDAY, DEPARTMENT, TEAM, DEGREE, JOBCATEGORY, 
    JOB, CONTRACTVALIDITY, CONTRACTTIME, DATASTATUS, CreateTime, CreateBy, UpdateTime, 
    UpdateBy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract_user_userinfo
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract_user_userinfo
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.user.UserInfo" >
    insert into t_contract_user_userinfo (WID, NAME1, PASSWORD, 
      GH, PHONE, EMAIL, BIRTHDAY, 
      DEPARTMENT, TEAM, DEGREE, 
      JOBCATEGORY, JOB, CONTRACTVALIDITY, 
      CONTRACTTIME, DATASTATUS, CreateTime, 
      CreateBy, UpdateTime, UpdateBy
      )
    values (#{wid,jdbcType=VARCHAR}, #{name1,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{gh,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{team,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, 
      #{jobcategory,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{contractvalidity,jdbcType=VARCHAR}, 
      #{contracttime,jdbcType=VARCHAR}, #{datastatus,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.user.UserInfo" >
    insert into t_contract_user_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="name1 != null" >
        NAME1,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="gh != null" >
        GH,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="team != null" >
        TEAM,
      </if>
      <if test="degree != null" >
        DEGREE,
      </if>
      <if test="jobcategory != null" >
        JOBCATEGORY,
      </if>
      <if test="job != null" >
        JOB,
      </if>
      <if test="contractvalidity != null" >
        CONTRACTVALIDITY,
      </if>
      <if test="contracttime != null" >
        CONTRACTTIME,
      </if>
      <if test="datastatus != null" >
        DATASTATUS,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="name1 != null" >
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="gh != null" >
        #{gh,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="jobcategory != null" >
        #{jobcategory,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="contractvalidity != null" >
        #{contractvalidity,jdbcType=VARCHAR},
      </if>
      <if test="contracttime != null" >
        #{contracttime,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.user.UserInfo" >
    update t_contract_user_userinfo
    <set >
      <if test="name1 != null" >
        NAME1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gh != null" >
        GH = #{gh,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        TEAM = #{team,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        DEGREE = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="jobcategory != null" >
        JOBCATEGORY = #{jobcategory,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="contractvalidity != null" >
        CONTRACTVALIDITY = #{contractvalidity,jdbcType=VARCHAR},
      </if>
      <if test="contracttime != null" >
        CONTRACTTIME = #{contracttime,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        DATASTATUS = #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.user.UserInfo" >
    update t_contract_user_userinfo
    set NAME1 = #{name1,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      GH = #{gh,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      TEAM = #{team,jdbcType=VARCHAR},
      DEGREE = #{degree,jdbcType=VARCHAR},
      JOBCATEGORY = #{jobcategory,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      CONTRACTVALIDITY = #{contractvalidity,jdbcType=VARCHAR},
      CONTRACTTIME = #{contracttime,jdbcType=VARCHAR},
      DATASTATUS = #{datastatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>