<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.project.BatchInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.project.BatchInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="PCLB" property="pclb" jdbcType="VARCHAR" />
    <result column="EJFL" property="ejfl" jdbcType="VARCHAR" />
    <result column="PCMC" property="pcmc" jdbcType="VARCHAR" />
    <result column="YPPH" property="ypph" jdbcType="VARCHAR" />
    <result column="SL" property="sl" jdbcType="INTEGER" />
    <result column="PP" property="pp" jdbcType="VARCHAR" />
    <result column="SLDW" property="sldw" jdbcType="VARCHAR" />
    <result column="CFD" property="cfd" jdbcType="VARCHAR" />
    <result column="GG" property="gg" jdbcType="VARCHAR" />
    <result column="KZSJD" property="kzsjd" jdbcType="VARCHAR" />
    <result column="GYS" property="gys" jdbcType="VARCHAR" />
    <result column="SYSJ" property="sysj" jdbcType="VARCHAR" />
    <result column="YPSX" property="ypsx" jdbcType="VARCHAR" />
    <result column="SYR" property="syr" jdbcType="VARCHAR" />
    <result column="SYXMFZR" property="syxmfzr" jdbcType="VARCHAR" />
    <result column="SYDW" property="sydw" jdbcType="VARCHAR" />
    <result column="FXXM" property="fxxm" jdbcType="VARCHAR" />
    <result column="HTH" property="hth" jdbcType="VARCHAR" />
    <result column="PCZT" property="pczt" jdbcType="VARCHAR" />
    <result column="SHSJ" property="shsj" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="DJ" property="dj" jdbcType="DECIMAL" />
    <result column="HBDW" property="hbdw" jdbcType="VARCHAR" />
    <result column="DQBH" property="dqbh" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_MAN" property="createMan" jdbcType="VARCHAR" />
    <result column="BY10" property="by10" jdbcType="VARCHAR" />
    <result column="BY9" property="by9" jdbcType="VARCHAR" />
    <result column="BY8" property="by8" jdbcType="VARCHAR" />
    <result column="BY7" property="by7" jdbcType="VARCHAR" />
    <result column="BY6" property="by6" jdbcType="VARCHAR" />
    <result column="BY5" property="by5" jdbcType="VARCHAR" />
    <result column="BY4" property="by4" jdbcType="VARCHAR" />
    <result column="BY3" property="by3" jdbcType="VARCHAR" />
    <result column="BY1" property="by1" jdbcType="VARCHAR" />
    <result column="BY2" property="by2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, PCLB, EJFL, PCMC, YPPH, SL, PP, SLDW, CFD, GG, KZSJD, GYS, SYSJ, YPSX, SYR, 
    SYXMFZR, SYDW, FXXM, HTH, PCZT, SHSJ, BZ, DJ, HBDW, DQBH, CREATE_TIME, CREATE_MAN, 
    BY10, BY9, BY8, BY7, BY6, BY5, BY4, BY3, BY1, BY2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract_pcgl_main
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract_pcgl_main
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.project.BatchInfo" >
    insert into t_contract_pcgl_main (WID, PCLB, EJFL, 
      PCMC, YPPH, SL, PP, 
      SLDW, CFD, GG, KZSJD, 
      GYS, SYSJ, YPSX, SYR, 
      SYXMFZR, SYDW, FXXM, 
      HTH, PCZT, SHSJ, BZ, 
      DJ, HBDW, DQBH, CREATE_TIME, 
      CREATE_MAN, BY10, BY9, 
      BY8, BY7, BY6, BY5, 
      BY4, BY3, BY1, BY2
      )
    values (#{wid,jdbcType=VARCHAR}, #{pclb,jdbcType=VARCHAR}, #{ejfl,jdbcType=VARCHAR}, 
      #{pcmc,jdbcType=VARCHAR}, #{ypph,jdbcType=VARCHAR}, #{sl,jdbcType=INTEGER}, #{pp,jdbcType=VARCHAR}, 
      #{sldw,jdbcType=VARCHAR}, #{cfd,jdbcType=VARCHAR}, #{gg,jdbcType=VARCHAR}, #{kzsjd,jdbcType=VARCHAR}, 
      #{gys,jdbcType=VARCHAR}, #{sysj,jdbcType=VARCHAR}, #{ypsx,jdbcType=VARCHAR}, #{syr,jdbcType=VARCHAR}, 
      #{syxmfzr,jdbcType=VARCHAR}, #{sydw,jdbcType=VARCHAR}, #{fxxm,jdbcType=VARCHAR}, 
      #{hth,jdbcType=VARCHAR}, #{pczt,jdbcType=VARCHAR}, #{shsj,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{dj,jdbcType=DECIMAL}, #{hbdw,jdbcType=VARCHAR}, #{dqbh,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, 
      #{createMan,jdbcType=VARCHAR}, #{by10,jdbcType=VARCHAR}, #{by9,jdbcType=VARCHAR}, 
      #{by8,jdbcType=VARCHAR}, #{by7,jdbcType=VARCHAR}, #{by6,jdbcType=VARCHAR}, #{by5,jdbcType=VARCHAR}, 
      #{by4,jdbcType=VARCHAR}, #{by3,jdbcType=VARCHAR}, #{by1,jdbcType=VARCHAR}, #{by2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.project.BatchInfo" >
    insert into t_contract_pcgl_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="pclb != null" >
        PCLB,
      </if>
      <if test="ejfl != null" >
        EJFL,
      </if>
      <if test="pcmc != null" >
        PCMC,
      </if>
      <if test="ypph != null" >
        YPPH,
      </if>
      <if test="sl != null" >
        SL,
      </if>
      <if test="pp != null" >
        PP,
      </if>
      <if test="sldw != null" >
        SLDW,
      </if>
      <if test="cfd != null" >
        CFD,
      </if>
      <if test="gg != null" >
        GG,
      </if>
      <if test="kzsjd != null" >
        KZSJD,
      </if>
      <if test="gys != null" >
        GYS,
      </if>
      <if test="sysj != null" >
        SYSJ,
      </if>
      <if test="ypsx != null" >
        YPSX,
      </if>
      <if test="syr != null" >
        SYR,
      </if>
      <if test="syxmfzr != null" >
        SYXMFZR,
      </if>
      <if test="sydw != null" >
        SYDW,
      </if>
      <if test="fxxm != null" >
        FXXM,
      </if>
      <if test="hth != null" >
        HTH,
      </if>
      <if test="pczt != null" >
        PCZT,
      </if>
      <if test="shsj != null" >
        SHSJ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="dj != null" >
        DJ,
      </if>
      <if test="hbdw != null" >
        HBDW,
      </if>
      <if test="dqbh != null" >
        DQBH,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createMan != null" >
        CREATE_MAN,
      </if>
      <if test="by10 != null" >
        BY10,
      </if>
      <if test="by9 != null" >
        BY9,
      </if>
      <if test="by8 != null" >
        BY8,
      </if>
      <if test="by7 != null" >
        BY7,
      </if>
      <if test="by6 != null" >
        BY6,
      </if>
      <if test="by5 != null" >
        BY5,
      </if>
      <if test="by4 != null" >
        BY4,
      </if>
      <if test="by3 != null" >
        BY3,
      </if>
      <if test="by1 != null" >
        BY1,
      </if>
      <if test="by2 != null" >
        BY2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="pclb != null" >
        #{pclb,jdbcType=VARCHAR},
      </if>
      <if test="ejfl != null" >
        #{ejfl,jdbcType=VARCHAR},
      </if>
      <if test="pcmc != null" >
        #{pcmc,jdbcType=VARCHAR},
      </if>
      <if test="ypph != null" >
        #{ypph,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        #{sl,jdbcType=INTEGER},
      </if>
      <if test="pp != null" >
        #{pp,jdbcType=VARCHAR},
      </if>
      <if test="sldw != null" >
        #{sldw,jdbcType=VARCHAR},
      </if>
      <if test="cfd != null" >
        #{cfd,jdbcType=VARCHAR},
      </if>
      <if test="gg != null" >
        #{gg,jdbcType=VARCHAR},
      </if>
      <if test="kzsjd != null" >
        #{kzsjd,jdbcType=VARCHAR},
      </if>
      <if test="gys != null" >
        #{gys,jdbcType=VARCHAR},
      </if>
      <if test="sysj != null" >
        #{sysj,jdbcType=VARCHAR},
      </if>
      <if test="ypsx != null" >
        #{ypsx,jdbcType=VARCHAR},
      </if>
      <if test="syr != null" >
        #{syr,jdbcType=VARCHAR},
      </if>
      <if test="syxmfzr != null" >
        #{syxmfzr,jdbcType=VARCHAR},
      </if>
      <if test="sydw != null" >
        #{sydw,jdbcType=VARCHAR},
      </if>
      <if test="fxxm != null" >
        #{fxxm,jdbcType=VARCHAR},
      </if>
      <if test="hth != null" >
        #{hth,jdbcType=VARCHAR},
      </if>
      <if test="pczt != null" >
        #{pczt,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null" >
        #{shsj,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        #{dj,jdbcType=DECIMAL},
      </if>
      <if test="hbdw != null" >
        #{hbdw,jdbcType=VARCHAR},
      </if>
      <if test="dqbh != null" >
        #{dqbh,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="by10 != null" >
        #{by10,jdbcType=VARCHAR},
      </if>
      <if test="by9 != null" >
        #{by9,jdbcType=VARCHAR},
      </if>
      <if test="by8 != null" >
        #{by8,jdbcType=VARCHAR},
      </if>
      <if test="by7 != null" >
        #{by7,jdbcType=VARCHAR},
      </if>
      <if test="by6 != null" >
        #{by6,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null" >
        #{by5,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null" >
        #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null" >
        #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by1 != null" >
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null" >
        #{by2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.project.BatchInfo" >
    update t_contract_pcgl_main
    <set >
      <if test="pclb != null" >
        PCLB = #{pclb,jdbcType=VARCHAR},
      </if>
      <if test="ejfl != null" >
        EJFL = #{ejfl,jdbcType=VARCHAR},
      </if>
      <if test="pcmc != null" >
        PCMC = #{pcmc,jdbcType=VARCHAR},
      </if>
      <if test="ypph != null" >
        YPPH = #{ypph,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        SL = #{sl,jdbcType=INTEGER},
      </if>
      <if test="pp != null" >
        PP = #{pp,jdbcType=VARCHAR},
      </if>
      <if test="sldw != null" >
        SLDW = #{sldw,jdbcType=VARCHAR},
      </if>
      <if test="cfd != null" >
        CFD = #{cfd,jdbcType=VARCHAR},
      </if>
      <if test="gg != null" >
        GG = #{gg,jdbcType=VARCHAR},
      </if>
      <if test="kzsjd != null" >
        KZSJD = #{kzsjd,jdbcType=VARCHAR},
      </if>
      <if test="gys != null" >
        GYS = #{gys,jdbcType=VARCHAR},
      </if>
      <if test="sysj != null" >
        SYSJ = #{sysj,jdbcType=VARCHAR},
      </if>
      <if test="ypsx != null" >
        YPSX = #{ypsx,jdbcType=VARCHAR},
      </if>
      <if test="syr != null" >
        SYR = #{syr,jdbcType=VARCHAR},
      </if>
      <if test="syxmfzr != null" >
        SYXMFZR = #{syxmfzr,jdbcType=VARCHAR},
      </if>
      <if test="sydw != null" >
        SYDW = #{sydw,jdbcType=VARCHAR},
      </if>
      <if test="fxxm != null" >
        FXXM = #{fxxm,jdbcType=VARCHAR},
      </if>
      <if test="hth != null" >
        HTH = #{hth,jdbcType=VARCHAR},
      </if>
      <if test="pczt != null" >
        PCZT = #{pczt,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null" >
        SHSJ = #{shsj,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        DJ = #{dj,jdbcType=DECIMAL},
      </if>
      <if test="hbdw != null" >
        HBDW = #{hbdw,jdbcType=VARCHAR},
      </if>
      <if test="dqbh != null" >
        DQBH = #{dqbh,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="by10 != null" >
        BY10 = #{by10,jdbcType=VARCHAR},
      </if>
      <if test="by9 != null" >
        BY9 = #{by9,jdbcType=VARCHAR},
      </if>
      <if test="by8 != null" >
        BY8 = #{by8,jdbcType=VARCHAR},
      </if>
      <if test="by7 != null" >
        BY7 = #{by7,jdbcType=VARCHAR},
      </if>
      <if test="by6 != null" >
        BY6 = #{by6,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null" >
        BY5 = #{by5,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null" >
        BY4 = #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null" >
        BY3 = #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by1 != null" >
        BY1 = #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null" >
        BY2 = #{by2,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.project.BatchInfo" >
    update t_contract_pcgl_main
    set PCLB = #{pclb,jdbcType=VARCHAR},
      EJFL = #{ejfl,jdbcType=VARCHAR},
      PCMC = #{pcmc,jdbcType=VARCHAR},
      YPPH = #{ypph,jdbcType=VARCHAR},
      SL = #{sl,jdbcType=INTEGER},
      PP = #{pp,jdbcType=VARCHAR},
      SLDW = #{sldw,jdbcType=VARCHAR},
      CFD = #{cfd,jdbcType=VARCHAR},
      GG = #{gg,jdbcType=VARCHAR},
      KZSJD = #{kzsjd,jdbcType=VARCHAR},
      GYS = #{gys,jdbcType=VARCHAR},
      SYSJ = #{sysj,jdbcType=VARCHAR},
      YPSX = #{ypsx,jdbcType=VARCHAR},
      SYR = #{syr,jdbcType=VARCHAR},
      SYXMFZR = #{syxmfzr,jdbcType=VARCHAR},
      SYDW = #{sydw,jdbcType=VARCHAR},
      FXXM = #{fxxm,jdbcType=VARCHAR},
      HTH = #{hth,jdbcType=VARCHAR},
      PCZT = #{pczt,jdbcType=VARCHAR},
      SHSJ = #{shsj,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      DJ = #{dj,jdbcType=DECIMAL},
      HBDW = #{hbdw,jdbcType=VARCHAR},
      DQBH = #{dqbh,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      BY10 = #{by10,jdbcType=VARCHAR},
      BY9 = #{by9,jdbcType=VARCHAR},
      BY8 = #{by8,jdbcType=VARCHAR},
      BY7 = #{by7,jdbcType=VARCHAR},
      BY6 = #{by6,jdbcType=VARCHAR},
      BY5 = #{by5,jdbcType=VARCHAR},
      BY4 = #{by4,jdbcType=VARCHAR},
      BY3 = #{by3,jdbcType=VARCHAR},
      BY1 = #{by1,jdbcType=VARCHAR},
      BY2 = #{by2,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>