<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.custom.CustomMoneyLogMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.custom.CustomMoneyLog" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="CUSTOM_ID" property="customId" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="ACCOUNT_MONEY" property="accountMoney" jdbcType="DECIMAL" />
    <result column="BD_MONEY" property="bdMoney" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_MAN" property="createMan" jdbcType="VARCHAR" />
    <result column="CONTRACT_ID" property="contractId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, CUSTOM_ID, ACCOUNT_ID, BANK_ACCOUNT, ACCOUNT_MONEY, BD_MONEY, CREATE_TIME, 
    CREATE_MAN, CONTRACT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract_custom_money_log
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract_custom_money_log
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.custom.CustomMoneyLog" >
    insert into t_contract_custom_money_log (WID, CUSTOM_ID, ACCOUNT_ID, 
      BANK_ACCOUNT, ACCOUNT_MONEY, BD_MONEY, 
      CREATE_TIME, CREATE_MAN, CONTRACT_ID
      )
    values (#{wid,jdbcType=VARCHAR}, #{customId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{accountMoney,jdbcType=DECIMAL}, #{bdMoney,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=VARCHAR}, #{createMan,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.custom.CustomMoneyLog" >
    insert into t_contract_custom_money_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="customId != null" >
        CUSTOM_ID,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="accountMoney != null" >
        ACCOUNT_MONEY,
      </if>
      <if test="bdMoney != null" >
        BD_MONEY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createMan != null" >
        CREATE_MAN,
      </if>
      <if test="contractId != null" >
        CONTRACT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="customId != null" >
        #{customId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountMoney != null" >
        #{accountMoney,jdbcType=DECIMAL},
      </if>
      <if test="bdMoney != null" >
        #{bdMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.custom.CustomMoneyLog" >
    update t_contract_custom_money_log
    <set >
      <if test="customId != null" >
        CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountMoney != null" >
        ACCOUNT_MONEY = #{accountMoney,jdbcType=DECIMAL},
      </if>
      <if test="bdMoney != null" >
        BD_MONEY = #{bdMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.custom.CustomMoneyLog" >
    update t_contract_custom_money_log
    set CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      ACCOUNT_MONEY = #{accountMoney,jdbcType=DECIMAL},
      BD_MONEY = #{bdMoney,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>