<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.custom.CustomInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.custom.CustomInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="CUSTOM_NAME" property="customName" jdbcType="VARCHAR" />
    <result column="CUSTOM_NUMBER" property="customNumber" jdbcType="VARCHAR" />
    <result column="CUSTOM_TYPE" property="customType" jdbcType="VARCHAR" />
    <result column="LINK_MAN" property="linkMan" jdbcType="VARCHAR" />
    <result column="CONTRACT_WAY" property="contractWay" jdbcType="VARCHAR" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    <result column="COMPANY_ADDRESS" property="companyAddress" jdbcType="VARCHAR" />
    <result column="COMPANY_ACCOUNT" property="companyAccount" jdbcType="VARCHAR" />
    <result column="COMPANY_PRE_ACCOUNT" property="companyPreAccount" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_MAN" property="createMan" jdbcType="VARCHAR" />
    <result column="DATASTATUS" property="datastatus" jdbcType="VARCHAR" />
    <result column="BY10" property="by10" jdbcType="VARCHAR" />
    <result column="BY9" property="by9" jdbcType="VARCHAR" />
    <result column="BY8" property="by8" jdbcType="VARCHAR" />
    <result column="BY7" property="by7" jdbcType="VARCHAR" />
    <result column="BY6" property="by6" jdbcType="VARCHAR" />
    <result column="BY5" property="by5" jdbcType="VARCHAR" />
    <result column="BY4" property="by4" jdbcType="VARCHAR" />
    <result column="BY3" property="by3" jdbcType="VARCHAR" />
    <result column="BY1" property="by1" jdbcType="VARCHAR" />
    <result column="BY2" property="by2" jdbcType="VARCHAR" />
    <result column="DQBH" property="dqbh" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, CUSTOM_NAME, CUSTOM_NUMBER, CUSTOM_TYPE, LINK_MAN, CONTRACT_WAY, COMPANY_NAME, 
    COMPANY_ADDRESS, COMPANY_ACCOUNT, COMPANY_PRE_ACCOUNT, CREATE_TIME, CREATE_MAN, DATASTATUS, 
    BY10, BY9, BY8, BY7, BY6, BY5, BY4, BY3, BY1, BY2, DQBH
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract_custom_main
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract_custom_main
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.custom.CustomInfo" >
    insert into t_contract_custom_main (WID, CUSTOM_NAME, CUSTOM_NUMBER, 
      CUSTOM_TYPE, LINK_MAN, CONTRACT_WAY, 
      COMPANY_NAME, COMPANY_ADDRESS, COMPANY_ACCOUNT, 
      COMPANY_PRE_ACCOUNT, CREATE_TIME, CREATE_MAN, 
      DATASTATUS, BY10, BY9, 
      BY8, BY7, BY6, BY5, 
      BY4, BY3, BY1, BY2, 
      DQBH)
    values (#{wid,jdbcType=VARCHAR}, #{customName,jdbcType=VARCHAR}, #{customNumber,jdbcType=VARCHAR}, 
      #{customType,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, #{contractWay,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, #{companyAccount,jdbcType=VARCHAR}, 
      #{companyPreAccount,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createMan,jdbcType=VARCHAR}, 
      #{datastatus,jdbcType=VARCHAR}, #{by10,jdbcType=VARCHAR}, #{by9,jdbcType=VARCHAR}, 
      #{by8,jdbcType=VARCHAR}, #{by7,jdbcType=VARCHAR}, #{by6,jdbcType=VARCHAR}, #{by5,jdbcType=VARCHAR}, 
      #{by4,jdbcType=VARCHAR}, #{by3,jdbcType=VARCHAR}, #{by1,jdbcType=VARCHAR}, #{by2,jdbcType=VARCHAR}, 
      #{dqbh,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.custom.CustomInfo" >
    insert into t_contract_custom_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="customName != null" >
        CUSTOM_NAME,
      </if>
      <if test="customNumber != null" >
        CUSTOM_NUMBER,
      </if>
      <if test="customType != null" >
        CUSTOM_TYPE,
      </if>
      <if test="linkMan != null" >
        LINK_MAN,
      </if>
      <if test="contractWay != null" >
        CONTRACT_WAY,
      </if>
      <if test="companyName != null" >
        COMPANY_NAME,
      </if>
      <if test="companyAddress != null" >
        COMPANY_ADDRESS,
      </if>
      <if test="companyAccount != null" >
        COMPANY_ACCOUNT,
      </if>
      <if test="companyPreAccount != null" >
        COMPANY_PRE_ACCOUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createMan != null" >
        CREATE_MAN,
      </if>
      <if test="datastatus != null" >
        DATASTATUS,
      </if>
      <if test="by10 != null" >
        BY10,
      </if>
      <if test="by9 != null" >
        BY9,
      </if>
      <if test="by8 != null" >
        BY8,
      </if>
      <if test="by7 != null" >
        BY7,
      </if>
      <if test="by6 != null" >
        BY6,
      </if>
      <if test="by5 != null" >
        BY5,
      </if>
      <if test="by4 != null" >
        BY4,
      </if>
      <if test="by3 != null" >
        BY3,
      </if>
      <if test="by1 != null" >
        BY1,
      </if>
      <if test="by2 != null" >
        BY2,
      </if>
      <if test="dqbh != null" >
        DQBH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="customName != null" >
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="customNumber != null" >
        #{customNumber,jdbcType=VARCHAR},
      </if>
      <if test="customType != null" >
        #{customType,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="contractWay != null" >
        #{contractWay,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyAccount != null" >
        #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="companyPreAccount != null" >
        #{companyPreAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=VARCHAR},
      </if>
      <if test="by10 != null" >
        #{by10,jdbcType=VARCHAR},
      </if>
      <if test="by9 != null" >
        #{by9,jdbcType=VARCHAR},
      </if>
      <if test="by8 != null" >
        #{by8,jdbcType=VARCHAR},
      </if>
      <if test="by7 != null" >
        #{by7,jdbcType=VARCHAR},
      </if>
      <if test="by6 != null" >
        #{by6,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null" >
        #{by5,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null" >
        #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null" >
        #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by1 != null" >
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null" >
        #{by2,jdbcType=VARCHAR},
      </if>
      <if test="dqbh != null" >
        #{dqbh,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.custom.CustomInfo" >
    update t_contract_custom_main
    <set >
      <if test="customName != null" >
        CUSTOM_NAME = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="customNumber != null" >
        CUSTOM_NUMBER = #{customNumber,jdbcType=VARCHAR},
      </if>
      <if test="customType != null" >
        CUSTOM_TYPE = #{customType,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        LINK_MAN = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="contractWay != null" >
        CONTRACT_WAY = #{contractWay,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyAccount != null" >
        COMPANY_ACCOUNT = #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="companyPreAccount != null" >
        COMPANY_PRE_ACCOUNT = #{companyPreAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        DATASTATUS = #{datastatus,jdbcType=VARCHAR},
      </if>
      <if test="by10 != null" >
        BY10 = #{by10,jdbcType=VARCHAR},
      </if>
      <if test="by9 != null" >
        BY9 = #{by9,jdbcType=VARCHAR},
      </if>
      <if test="by8 != null" >
        BY8 = #{by8,jdbcType=VARCHAR},
      </if>
      <if test="by7 != null" >
        BY7 = #{by7,jdbcType=VARCHAR},
      </if>
      <if test="by6 != null" >
        BY6 = #{by6,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null" >
        BY5 = #{by5,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null" >
        BY4 = #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null" >
        BY3 = #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by1 != null" >
        BY1 = #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null" >
        BY2 = #{by2,jdbcType=VARCHAR},
      </if>
      <if test="dqbh != null" >
        DQBH = #{dqbh,jdbcType=INTEGER},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.custom.CustomInfo" >
    update t_contract_custom_main
    set CUSTOM_NAME = #{customName,jdbcType=VARCHAR},
      CUSTOM_NUMBER = #{customNumber,jdbcType=VARCHAR},
      CUSTOM_TYPE = #{customType,jdbcType=VARCHAR},
      LINK_MAN = #{linkMan,jdbcType=VARCHAR},
      CONTRACT_WAY = #{contractWay,jdbcType=VARCHAR},
      COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      COMPANY_ACCOUNT = #{companyAccount,jdbcType=VARCHAR},
      COMPANY_PRE_ACCOUNT = #{companyPreAccount,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      DATASTATUS = #{datastatus,jdbcType=VARCHAR},
      BY10 = #{by10,jdbcType=VARCHAR},
      BY9 = #{by9,jdbcType=VARCHAR},
      BY8 = #{by8,jdbcType=VARCHAR},
      BY7 = #{by7,jdbcType=VARCHAR},
      BY6 = #{by6,jdbcType=VARCHAR},
      BY5 = #{by5,jdbcType=VARCHAR},
      BY4 = #{by4,jdbcType=VARCHAR},
      BY3 = #{by3,jdbcType=VARCHAR},
      BY1 = #{by1,jdbcType=VARCHAR},
      BY2 = #{by2,jdbcType=VARCHAR},
      DQBH = #{dqbh,jdbcType=INTEGER}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>