<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.system.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.system.Department" >
    <result column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="BM" property="bm" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="OrderBy" property="orderby" jdbcType="INTEGER" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseResultMap2" type="com.pope.contract.entity.system.Sjzd" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="LBDM" property="lbdm" jdbcType="VARCHAR" />
    <result column="LBMC" property="lbmc" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BaseColumnList">
  	WID,BM,NAME,PID,STATUS,CreateTime,CreateTime,CreateBy,UpdateTime,UpdateBy,OrderBy,TYPE
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
  	SELECT <include refid="BaseColumnList"/>
  	FROM t_contract_sys_depart
  	WHERE STATUS=1
  	ORDER BY ORDERBY
  </select>
  <select id="selectDepartment" resultMap="BaseResultMap">
  	SELECT <include refid="BaseColumnList"/>
  	FROM t_contract_sys_depart
  	WHERE STATUS=1 AND TYPE=1
  	ORDER BY ORDERBY
  </select>
  <select id="selectTeamByDepartment" resultMap="BaseResultMap2">
  		SELECT BM AS LBDM,NAME AS LBMC 
  	FROM t_contract_sys_depart
  	WHERE STATUS=1 AND TYPE=2
	and pid IN (SELECT WID FROM t_contract_sys_depart WHERE BM= #{bm,jdbcType=VARCHAR} )  
	ORDER BY ORDERBY
  </select>
  <select id="selectByBm" resultMap="BaseResultMap">
  	SELECT <include refid="BaseColumnList"/>
  	FROM t_contract_sys_depart
  	WHERE STATUS=1
	and bm=#{bm,jdbcType=VARCHAR}
  </select>
  <update id="deleteByWid" parameterType="java.lang.String">
  		UPDATE  t_contract_sys_depart SET STATUS='2' WHERE WID=#{wid,jdbcType=VARCHAR}
  </update>
  
  <update id="deleteByPid" parameterType="java.lang.String">
  		UPDATE  t_contract_sys_depart SET STATUS='2' WHERE PID=#{pid,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.pope.contract.entity.system.Department" >
    insert into t_contract_sys_depart (WID, BM, NAME, 
      PID, STATUS, CreateTime, 
      CreateBy, UpdateTime, UpdateBy, 
      OrderBy, TYPE)
    values (#{wid,jdbcType=VARCHAR}, #{bm,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{orderby,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.system.Department" >
    insert into t_contract_sys_depart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="bm != null" >
        BM,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="orderby != null" >
        OrderBy,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="bm != null" >
        #{bm,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="orderby != null" >
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
   <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.system.Department" >
    update t_contract_sys_depart
    <set >
       <if test="wid != null" >
       wid= #{wid,jdbcType=VARCHAR},
      </if>
      <if test="bm != null" >
       bm= #{bm,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
       name= #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
       pid= #{pid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
      status=  #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
      createtime=  #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
      createby=  #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
       updatetime= #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
       updateby= #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="orderby != null" >
       orderby= #{orderby,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
       type= #{type,jdbcType=INTEGER},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.system.Role" >
    update t_contract_sys_depart
    set wid= #{wid,jdbcType=VARCHAR},
      bm= #{bm,jdbcType=VARCHAR},
      name= #{name,jdbcType=VARCHAR},
      pid= #{pid,jdbcType=VARCHAR},
      status=  #{status,jdbcType=INTEGER},
      createtime=  #{createtime,jdbcType=TIMESTAMP},
      createby=  #{createby,jdbcType=VARCHAR},
      updatetime= #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      OrderBy = #{orderby,jdbcType=INTEGER},
      type= #{type,jdbcType=INTEGER}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>