<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.system.MessageExtendInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.system.MessageExtendInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="BM" property="bm" jdbcType="VARCHAR" />
    <result column="ME" property="me" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, BM, ME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract_sys_message_extend
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract_sys_message_extend
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.system.MessageExtendInfo" >
    insert into t_contract_sys_message_extend (WID, BM, ME)
    values (#{wid,jdbcType=VARCHAR}, #{bm,jdbcType=VARCHAR}, #{me,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.system.MessageExtendInfo" >
    insert into t_contract_sys_message_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="bm != null" >
        BM,
      </if>
      <if test="me != null" >
        ME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="bm != null" >
        #{bm,jdbcType=VARCHAR},
      </if>
      <if test="me != null" >
        #{me,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.system.MessageExtendInfo" >
    update t_contract_sys_message_extend
    <set >
      <if test="bm != null" >
        BM = #{bm,jdbcType=VARCHAR},
      </if>
      <if test="me != null" >
        ME = #{me,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.system.MessageExtendInfo" >
    update t_contract_sys_message_extend
    set BM = #{bm,jdbcType=VARCHAR},
      ME = #{me,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>