<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.system.SysConfigInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.contract.entity.system.SysConfigInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="SM" property="sm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, TYPE, CONTENT, SM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract_sys_config
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract_sys_config
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.contract.entity.system.SysConfigInfo" >
    insert into t_contract_sys_config (WID, TYPE, CONTENT, 
      SM)
    values (#{wid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{sm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.contract.entity.system.SysConfigInfo" >
    insert into t_contract_sys_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="sm != null" >
        SM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        #{sm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.contract.entity.system.SysConfigInfo" >
    update t_contract_sys_config
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        SM = #{sm,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.contract.entity.system.SysConfigInfo" >
    update t_contract_sys_config
    set TYPE = #{type,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      SM = #{sm,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>