<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.contract.dao.user.extend.UserInfoExtendMapper">
	<resultMap id="BaseResultMap" type="com.pope.contract.entity.user.UserInfo">
		<id column="WID" property="wid" jdbcType="VARCHAR" />
		<result column="NAME1" property="name1" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="GH" property="gh" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
		<result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
		<result column="TEAM" property="team" jdbcType="VARCHAR" />
		<result column="DEGREE" property="degree" jdbcType="VARCHAR" />
		<result column="JOBCATEGORY" property="jobcategory" jdbcType="VARCHAR" />
		<result column="JOB" property="job" jdbcType="VARCHAR" />
		<result column="CONTRACTVALIDITY" property="contractvalidity"
			jdbcType="VARCHAR" />
		<result column="CONTRACTTIME" property="contracttime" jdbcType="VARCHAR" />
		<result column="DATASTATUS" property="datastatus" jdbcType="INTEGER" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="CreateBy" property="createby" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		T_CONTRACT_USER_USERINFO.WID, T_CONTRACT_USER_USERINFO.NAME1, 
		T_CONTRACT_USER_USERINFO.PASSWORD, T_CONTRACT_USER_USERINFO.GH, 
		T_CONTRACT_USER_USERINFO.PHONE, T_CONTRACT_USER_USERINFO.EMAIL, 
		T_CONTRACT_USER_USERINFO.BIRTHDAY,T_CONTRACT_USER_USERINFO.DEPARTMENT, 
		T_CONTRACT_USER_USERINFO.TEAM,T_CONTRACT_USER_USERINFO.DEGREE, 
		T_CONTRACT_USER_USERINFO.JOBCATEGORY,T_CONTRACT_USER_USERINFO.JOB, 
		T_CONTRACT_USER_USERINFO.CONTRACTVALIDITY,T_CONTRACT_USER_USERINFO.CONTRACTTIME, 
		T_CONTRACT_USER_USERINFO.DATASTATUS, T_CONTRACT_USER_USERINFO.CreateTime, 
		T_CONTRACT_USER_USERINFO.CreateBy,T_CONTRACT_USER_USERINFO.UpdateTime,
		T_CONTRACT_USER_USERINFO.UpdateBy
	</sql>
	<resultMap id="BaseResultDisplayMap"
		type="com.pope.contract.entity.user.extend.UserInfoExtend" extends="BaseResultMap">
		<result column="DEPARTMENT_DISPLAY" property="department_display"
			jdbcType="VARCHAR" />
		<result column="TEAM_DISPLAY" property="team_display" jdbcType="VARCHAR" />
		<result column="JOBCATEGORY_DISPLAY" property="jobcategory_display"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Display_Column_List">
		<include refid="Base_Column_List"/>
		,T_CONTRACT_SYS_DEPART.NAME AS
		DEPARTMENT_DISPLAY,T_CONTRACT_SYS_TEAM.NAME AS TEAM_DISPLAY,
		T_CONTRACT_SJZD_ZWLB.LBMC AS JOBCATEGORY_DISPLAY
	</sql>
	<sql id="sqlFrom">
		LEFT JOIN
		T_CONTRACT_SYS_DEPART T_CONTRACT_SYS_DEPART ON
		T_CONTRACT_USER_USERINFO.DEPARTMENT=T_CONTRACT_SYS_DEPART.BM AND
		T_CONTRACT_SYS_DEPART.STATUS=1
		LEFT JOIN T_CONTRACT_SYS_DEPART
		T_CONTRACT_SYS_TEAM ON
		T_CONTRACT_USER_USERINFO.TEAM=T_CONTRACT_SYS_TEAM.BM AND
		T_CONTRACT_SYS_TEAM.STATUS=1
		LEFT JOIN T_CONTRACT_SJZD_ZWLB
		T_CONTRACT_SJZD_ZWLB ON
		T_CONTRACT_SJZD_ZWLB.LBDM=T_CONTRACT_USER_USERINFO.JOBCATEGORY AND
		T_CONTRACT_SJZD_ZWLB.STATUS=1

	</sql>
	<sql id="sqlWhere">
		WHERE T_CONTRACT_USER_USERINFO.datastatus=1
		<if test="wid!=null">
			AND T_CONTRACT_USER_USERINFO.WID=#{wid,jdbcType=VARCHAR}
		</if>
		<if test="name1!=null and name1!=''">
			AND
			T_CONTRACT_USER_USERINFO.NAME1=#{name1,jdbcType=VARCHAR}

		</if>
		<if test="gh!=null and gh!=''">
			AND T_CONTRACT_USER_USERINFO.GH=#{gh,jdbcType=VARCHAR}
		</if>
		<if test="queryCondition!=null and queryCondition!=''">
			AND (T_CONTRACT_USER_USERINFO.NAME1 LIKE
			CONCAT('%',#{queryCondition},'%')
			or T_CONTRACT_USER_USERINFO.GH LIKE
			CONCAT('%',#{queryCondition},'%'))
		</if>
	</sql>
	<sql id="sqlOrder">
		order by T_CONTRACT_USER_USERINFO.gh
	</sql>
	<select id="selectDisplayByCondition" resultMap="BaseResultDisplayMap"
		parameterType="com.pope.contract.entity.user.extend.UserInfoExtend">
		select
		<include refid="Base_Display_Column_List" />
		from T_CONTRACT_USER_USERINFO T_CONTRACT_USER_USERINFO
		<include refid="sqlFrom" />
		<include refid="sqlWhere" />
		<include refid="sqlOrder" />
	</select>
	<select id="selectSingleDisplayByCondition" resultMap="BaseResultDisplayMap"
		parameterType="com.pope.contract.entity.user.extend.UserInfoExtend">
		select
		<include refid="Base_Display_Column_List" />
		from T_CONTRACT_USER_USERINFO T_CONTRACT_USER_USERINFO
		<include refid="sqlFrom" />
		<include refid="sqlWhere" />
		LIMIT 1
	</select>

	<select id="selectByCondition" resultMap="BaseResultMap"
		parameterType="com.pope.contract.entity.user.extend.UserInfoExtend">
		select
		<include refid="Base_Column_List" />
		from T_CONTRACT_USER_USERINFO T_CONTRACT_USER_USERINFO
		<include refid="sqlWhere" />
		<include refid="sqlOrder" />
	</select>
	<select id="selectSingleByCondition" resultMap="BaseResultMap"
		parameterType="com.pope.contract.entity.user.extend.UserInfoExtend">
		select
		<include refid="Base_Column_List" />
		from T_CONTRACT_USER_USERINFO T_CONTRACT_USER_USERINFO
		<include refid="sqlWhere" />
		LIMIT 1
	</select>
	
	
	<select id="selectByRoleName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		from T_CONTRACT_USER_USERINFO
		where datastatus=1 AND WID IN (SELECT
		USERID FROM
		t_contract_user_userinfo_role WHERE ROLEID IN (SELECT WID
		FROM
		t_contract_sys_role WHERE NAME=#{name}))
	</select>

</mapper>